<!DOCTYPE html>
<html>
<head>
	<title>Controller</title>
	<script type="text/javascript" src="../js/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp1" ng-controller="myCtrl1">
		First Name: <input type="text" ng-model="firstname"><br/>
		Last Name: <input type="text" ng-model="lastname"><br/>
		Full Name: {{firstname+" "+lastname}}
	</div>

	<script type="text/javascript">
		var app1= angular.module('myApp1', []);

		app1.controller('myCtrl1', function($scope){

			$scope.firstname= "tegar";
			$scope.lastname= "Swasono";

		});
	</script>
	<hr/>
<!-- 
	<div ng-app="myApp2" ng-controller="Ctrl2">
		First Name: <input type="text" ng-model="awal"><br/>
		Last Name: <input type="text" ng-model="akhir"><br/>
		Full Name: {{fullName()}}
	</div> -->
	<script type="text/javascript">
		// var app2= angular.module('myApp2', []);

		// app2.controller('Ctrl2', function($scope){

		// 	$scope.awal= "tegar";
		// 	$scope.akhir= "swasono";
		// 	$scope.fullName= function(){
		// 		return $scope.awal+" "+$scope.akhir;
		// 	}

		// });
	</script>
</body>
</html>