<!DOCTYPE html>
<html>
<head>
	<script src="../js/angular.min.js"></script>	
</head>	
<body ng-app="myApp" ng-controller="myCtrl">
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.nama = ["Emil", "Tobias", "Linus"];
	});
</script>

	
	<h2 align="center">01 Select Box using ng-options</h2>
	<select ng-model="selectedName" ng-options="x for x in nama"></select>
	

	<hr/>
	<h2 align="center">02 Select Box using ng-repeat</h2>
	<select>
		<option ng-repeat="x in nama">{{x}}</option>
	</select>

	<hr/>
	<p>perbedaan utama adalah hasil dari ng-option berupa objek sedangkan ng-repeat berupa String</p>
	<hr/>
	<h2 align="center">03 Select Box using ng-repeat</h2>




</body>
</html>